@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@font-face {
  font-family: 'my-font';
  src: url("../fonts/my-font.eot?x881iw");
  src: url("../fonts/my-font.eot?x881iw#iefix") format("embedded-opentype"), url("../fonts/my-font.ttf?x881iw") format("truetype"), url("../fonts/my-font.woff?x881iw") format("woff"), url("../fonts/my-font.svg?x881iw#my-font") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica-neue-bold.ttf");
  font-weight: bold;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #313131;
  background-color: #fff;
  margin: 0;
  font-weight: normal; }

a {
  color: #313131;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

a:hover {
  text-decoration: none;
  color: #3498db; }

a:focus {
  outline: none;
  text-decoration: none;
  font-weight: bold;
  color: #313131; }

img {
  border: none;
  max-width: 100%;
  vertical-align: middle; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input, button, textarea, select {
  outline: none; }

.vertical-align::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1230px) {
    .container {
      width: 1200px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.btn {
  display: block;
  color: #000;
  background: #fff;
  width: 270px;
  font-size: 16px;
  line-height: 3.2em;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  -o-user-select: none;
  user-select: none;
  -webkit-user-select: none; }
  .btn:before {
    content: "\e900";
    font-family: 'my-font' !important;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    font-size: 4em; }
  .btn:hover {
    background: #313131;
    color: #fff; }
    .btn:hover:before {
      -webkit-transform: translateX(40px);
      -moz-transform: translateX(40px);
      -ms-transform: translateX(40px);
      -o-transform: translateX(40px);
      transform: translateX(40px);
      color: #313131; }
  .btn:active {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
    -webkit-box-shadow: inset 0 0 12px 2px #908d8d;
    -moz-box-shadow: inset 0 0 12px 2px #908d8d;
    box-shadow: inset 0 0 12px 2px #908d8d; }
    .btn:active:before {
      -webkit-transform: translateX(60px);
      -moz-transform: translateX(60px);
      -ms-transform: translateX(60px);
      -o-transform: translateX(60px);
      transform: translateX(60px);
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900"; }

.icon-icon1:before {
  content: "\e901";
  font-size: 35px;
  margin-top: 3px;
  display: inline-block; }

.icon-icon2:before {
  content: "\e902";
  font-size: 25px; }

.icon-icon3:before {
  content: "\e903";
  font-size: 35px; }

.icon-icon4:before {
  content: "\e904";
  font-size: 35px; }

.icon-linkedin, .icon-instagram, .icon-facebook, .icon-youtube-square {
  overflow: hidden; }
  .icon-linkedin:after, .icon-instagram:after, .icon-facebook:after, .icon-youtube-square:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 1; }
  .icon-linkedin:before, .icon-instagram:before, .icon-facebook:before, .icon-youtube-square:before {
    position: relative;
    z-index: 2; }
  .icon-linkedin:hover:after, .icon-instagram:hover:after, .icon-facebook:hover:after, .icon-youtube-square:hover:after {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.icon-linkedin:after {
  background: #0077b5; }

.icon-linkedin:before {
  content: "\e906"; }

.icon-instagram:after {
  background: #bd3381; }

.icon-instagram:before {
  content: "\e907"; }

.icon-facebook:after {
  background: #3b5998; }

.icon-facebook:before {
  content: "\e908"; }

.icon-facebook-f:before {
  content: "\e908"; }

.icon-youtube-square:after {
  background: #e62117; }

.icon-youtube-square:before {
  content: "\e905"; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  z-index: 10; }
  header .container {
    display: flex;
    justify-content: space-between;
    height: 5em;
    position: relative;
    align-items: center;
    z-index: 10; }
    @media (max-width: 991px) {
      header .container {
        height: 4em; } }
    @media (max-width: 500px) {
      header .container {
        height: 3em; } }

.header-right {
  display: flex;
  align-items: center; }

a.header-logo {
  font-size: 1.857em;
  font-weight: 900;
  height: 100%;
  display: flex;
  align-items: center; }

a.header-tell {
  float: right;
  font-weight: bold;
  font-size: 16px;
  margin: 0 2px 2px 52px; }
  @media (max-width: 991px) {
    a.header-tell {
      margin-left: 25px; } }
  @media (max-width: 768px) {
    a.header-tell {
      margin-left: -25px; } }
  @media (max-width: 500px) {
    a.header-tell {
      margin-left: 0; } }
  @media (max-width: 370px) {
    a.header-tell {
      font-size: 13px; } }

.nav-menu {
  display: flex; }
  @media (max-width: 768px) {
    .nav-menu {
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: absolute;
      z-index: 9;
      top: 100%;
      right: 0;
      background: #fff;
      flex-direction: column;
      width: 200px;
      padding: .5em 0 1em;
      box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15);
      -webkit-transform: translateX(103%);
      -moz-transform: translateX(103%);
      -ms-transform: translateX(103%);
      -o-transform: translateX(103%);
      transform: translateX(103%); }
      .nav-menu.open {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }
  .nav-menu li {
    padding: 0 1.3em; }
    @media (max-width: 991px) {
      .nav-menu li {
        padding: 0 .7em; } }
    @media (max-width: 768px) {
      .nav-menu li {
        padding: 0; } }
    .nav-menu li a {
      position: relative; }
      @media (max-width: 768px) {
        .nav-menu li a {
          width: 100%;
          display: inline-block;
          padding: .5em 0 .5em 2.5em; } }
      .nav-menu li a.active {
        font-weight: bold; }
      .nav-menu li a:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background: #3498db;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        @media (max-width: 768px) {
          .nav-menu li a:after {
            bottom: 2px; } }
      .nav-menu li a:hover:after {
        animation: go-hover .4s;
        width: 100%;
        left: 0; }

@keyframes go-hover {
  0% {
    width: 0;
    left: 50%; }
  100% {
    width: 100%;
    left: 0; } }

.mobile-menu-burger {
  display: none;
  position: relative; }
  @media (max-width: 768px) {
    .mobile-menu-burger {
      display: block;
      width: 30px;
      height: 18px;
      cursor: pointer; } }
  .mobile-menu-burger span {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background: #313131;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .mobile-menu-burger span:nth-child(1) {
      top: 0; }
    .mobile-menu-burger span:nth-child(2) {
      top: calc(50% - 1px); }
    .mobile-menu-burger span:nth-child(3) {
      top: calc(50% - 1px); }
    .mobile-menu-burger span:nth-child(4) {
      bottom: 0; }
  .mobile-menu-burger.open span {
    background: #3498db; }
    .mobile-menu-burger.open span:nth-child(1) {
      opacity: 0;
      -webkit-transform: scale(0.1) translateY(-7px);
      -moz-transform: scale(0.1) translateY(-7px);
      -ms-transform: scale(0.1) translateY(-7px);
      -o-transform: scale(0.1) translateY(-7px);
      transform: scale(0.1) translateY(-7px); }
    .mobile-menu-burger.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .mobile-menu-burger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .mobile-menu-burger.open span:nth-child(4) {
      opacity: 0;
      -webkit-transform: scale(0.1) translateY(7px);
      -moz-transform: scale(0.1) translateY(7px);
      -ms-transform: scale(0.1) translateY(7px);
      -o-transform: scale(0.1) translateY(7px);
      transform: scale(0.1) translateY(7px); }

footer {
  text-align: center;
  padding: 62px 0 130px;
  background: #c9c9c9; }
  @media (max-width: 1229px) {
    footer {
      padding: 50px 0 60px; } }
  @media (max-width: 500px) {
    footer {
      padding: 20px 0 30px; } }
  footer .container {
    display: inline-block;
    text-align: left;
    padding: 0; }
    @media (max-width: 991px) {
      footer .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; } }
  footer .footer-block-left {
    width: 50%;
    float: left; }
    @media (max-width: 991px) {
      footer .footer-block-left {
        width: 500px;
        margin-left: 92px; } }
    @media (max-width: 768px) {
      footer .footer-block-left {
        width: 310px;
        margin-left: 0; } }
  footer .footer-block-right {
    width: 400px;
    float: right;
    padding: 0 15px; }
    @media (max-width: 991px) {
      footer .footer-block-right {
        margin-bottom: 30px; } }
    @media (max-width: 500px) {
      footer .footer-block-right {
        padding: 0 8px;
        width: 300px; } }
  footer .footer-info {
    padding: 0 15px 0 18px;
    width: 50%;
    float: left; }
    @media (max-width: 768px) {
      footer .footer-info {
        padding: 0 9px 0 9px;
        width: 200px;
        float: left; } }
    footer .footer-info .logo-title {
      font-size: 1.285em;
      font-weight: bold;
      color: #000;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      display: inline-block;
      margin-bottom: 30px; }
      footer .footer-info .logo-title:hover {
        color: #3498db; }
    footer .footer-info .info-block, footer .footer-info .logotype_caption {
      font-weight: bold;
      color: #626262; }
      footer .footer-info .info-block a, footer .footer-info .logotype_caption a {
        color: #626262;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        footer .footer-info .info-block a:hover, footer .footer-info .logotype_caption a:hover {
          color: #3498db; }
    footer .footer-info .info-block {
      margin-bottom: 21px; }
      footer .footer-info .info-block li + li {
        margin-top: 4px; }
  footer .footer-nav-menu {
    width: 50%;
    float: left;
    font-weight: bold;
    padding: 0 15px; }
    @media (max-width: 768px) {
      footer .footer-nav-menu {
        width: 105px; } }
    footer .footer-nav-menu li + li {
      margin-top: 16px; }
    footer .footer-nav-menu a {
      position: relative; }
      footer .footer-nav-menu a:hover:before {
        width: 100%; }
      footer .footer-nav-menu a:before {
        content: "";
        position: absolute;
        background: #3498db;
        height: 4px;
        width: 0;
        left: 0;
        bottom: -6px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
  footer .soc-title, footer .form-title {
    font-weight: bold;
    margin-bottom: 12px; }
  footer form {
    margin-bottom: 37px; }
    @media (max-width: 500px) {
      footer form {
        margin-bottom: 27px; } }
    footer form input[name="email"] {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 270px;
      border: none;
      background: #fff;
      height: 30px;
      padding-left: 10px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media (max-width: 500px) {
        footer form input[name="email"] {
          width: 200px;
          height: 25px; } }
      footer form input[name="email"]:focus {
        -webkit-box-shadow: 0 0 3px #313131;
        -moz-box-shadow: 0 0 3px #313131;
        box-shadow: 0 0 3px #313131; }
    footer form .button {
      border: none;
      color: #fff;
      background: #626262;
      height: 30px;
      font-size: 12px;
      float: right;
      cursor: pointer;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      text-align: center;
      display: flex;
      align-items: center;
      width: 90px;
      justify-content: center;
      -o-user-select: none;
      user-select: none;
      -webkit-user-select: none; }
      @media (max-width: 500px) {
        footer form .button {
          width: 84px;
          height: 25px; } }
      footer form .button:hover {
        background: #000; }
        footer form .button:hover:active {
          -webkit-transition: .15s;
          -moz-transition: .15s;
          -ms-transition: .15s;
          -o-transition: .15s;
          transition: .15s;
          -webkit-transform: scale(0.99);
          -moz-transform: scale(0.99);
          -ms-transform: scale(0.99);
          -o-transform: scale(0.99);
          transform: scale(0.99);
          -webkit-box-shadow: inset 0 0 12px 2px #908d8d;
          -moz-box-shadow: inset 0 0 12px 2px #908d8d;
          box-shadow: inset 0 0 12px 2px #908d8d; }
    footer form .input-wrap {
      position: relative; }
      footer form .input-wrap:before {
        content: ' success';
        position: absolute;
        height: 25px;
        width: 270px;
        text-align: center;
        overflow: hidden;
        background: #009a00;
        font-weight: bold;
        color: #fff;
        left: 0;
        top: 100%;
        font-size: 1.3em;
        text-transform: uppercase;
        padding: 3px 0 0 0;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        z-index: 1; }
        @media (max-width: 500px) {
          footer form .input-wrap:before {
            width: 200px;
            font-size: 14px;
            padding-top: 5px; } }
      footer form .input-wrap:after {
        content: 'error';
        position: absolute;
        height: 25px;
        width: 270px;
        text-align: center;
        overflow: hidden;
        background: #921006;
        font-weight: bold;
        color: #fff;
        left: 0;
        top: 100%;
        font-size: 1.3em;
        text-transform: uppercase;
        padding: 3px 0 0 0;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        z-index: 1; }
        @media (max-width: 500px) {
          footer form .input-wrap:after {
            width: 200px;
            font-size: 14px;
            padding-top: 5px; } }
      footer form .input-wrap.ok:before {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
      footer form .input-wrap.error:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
  footer .soc-link {
    padding-top: 2px; }
    footer .soc-link li {
      float: left;
      width: 30px;
      height: 30px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .soc-link li + li {
        margin-left: 5px; }
      footer .soc-link li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
        font-size: 1.3em; }
        footer .soc-link li a:hover {
          color: #fff; }

.title, h1 {
  font-weight: 900;
  font-size: 4em;
  margin: .742em 0 .8em; }
  @media (max-width: 1229px) {
    .title, h1 {
      margin: .5em 0 .8em; } }

h2 {
  font-size: 3em;
  font-weight: 900;
  color: #000; }

p.big-p {
  font-size: 1.35em; }

main {
  margin-top: 5em;
  overflow: hidden; }
  @media (max-width: 991px) {
    main {
      margin-top: 4em; } }
  @media (max-width: 500px) {
    main {
      margin-top: 3em; } }

.head-block {
  padding: 50px 0;
  height: 530px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1229px) {
    .head-block {
      height: 400px; } }
  @media (max-width: 991px) {
    .head-block {
      padding: 30px 0; } }
  @media (max-width: 768px) {
    .head-block {
      height: auto;
      font-size: 13px; } }
  @media (max-width: 500px) {
    .head-block {
      font-size: 11px;
      padding: 15px 0 25px; } }
  @media (max-width: 500px) {
    .head-block {
      font-size: 9px; } }
  .head-block:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: url("../img/subscribe-promo-md-1.jpg") fixed center no-repeat;
    background-size: cover;
    animation: move-bg 60s linear infinite; }
    @media (max-width: 768px) {
      .head-block:before {
        animation: none;
        background: url("../img/subscribe-promo-md-1.jpg") center no-repeat;
        background-size: cover; } }

@keyframes move-bg {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
  .head-block .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1; }
    .head-block .container p {
      font-size: 1.428em;
      line-height: 1.65em; }

.enumeration-block {
  text-align: center;
  padding: 93px 0 75px; }
  @media (max-width: 1229px) {
    .enumeration-block {
      padding: 80px 0 65px; } }
  @media (max-width: 991px) {
    .enumeration-block {
      padding: 80px 0 25px; } }
  @media (max-width: 500px) {
    .enumeration-block {
      padding: 50px 0 15px; } }
  .enumeration-block .container {
    display: flex;
    padding: 0;
    flex-direction: row; }
    @media (max-width: 991px) {
      .enumeration-block .container {
        flex-wrap: wrap; } }
  .enumeration-block [data-scroll="off"] .one-enumeration-block .enumeration-icon-wrap {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    @media (max-width: 991px) {
      .enumeration-block [data-scroll="off"] .one-enumeration-block .enumeration-icon-wrap {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); } }
  .enumeration-block [data-scroll="off"] .one-enumeration-block .enumeration-title, .enumeration-block [data-scroll="off"] .one-enumeration-block .enumeration-text {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
    @media (max-width: 991px) {
      .enumeration-block [data-scroll="off"] .one-enumeration-block .enumeration-title, .enumeration-block [data-scroll="off"] .one-enumeration-block .enumeration-text {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }
  .enumeration-block [data-scroll="on"] .one-enumeration-block .enumeration-icon-wrap {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .enumeration-block [data-scroll="on"] .one-enumeration-block .enumeration-title, .enumeration-block [data-scroll="on"] .one-enumeration-block .enumeration-text {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .enumeration-block .one-enumeration-block {
    width: 25%;
    padding: 0 15px; }
    @media (max-width: 1229px) {
      .enumeration-block .one-enumeration-block {
        padding: 0 10px; } }
    @media (max-width: 991px) {
      .enumeration-block .one-enumeration-block {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 40px; } }
    @media (max-width: 500px) {
      .enumeration-block .one-enumeration-block {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 40px; } }
    @media (min-width: 991px) {
      .enumeration-block .one-enumeration-block:hover .enumeration-icon-wrap {
        background: #313131;
        color: #3498db;
        animation: enum-hover .5s linear; }
      @keyframes enum-hover {
        0% {
          background: #3498db;
          color: #fff;
          -webkit-transform: scale(1) rotateX(0);
          -moz-transform: scale(1) rotateX(0);
          -ms-transform: scale(1) rotateX(0);
          -o-transform: scale(1) rotateX(0);
          transform: scale(1) rotateX(0); }
        50% {
          -webkit-transform: scale(1.2) translateY(-15px) rotateX(180deg);
          -moz-transform: scale(1.2) translateY(-15px) rotateX(180deg);
          -ms-transform: scale(1.2) translateY(-15px) rotateX(180deg);
          -o-transform: scale(1.2) translateY(-15px) rotateX(180deg);
          transform: scale(1.2) translateY(-15px) rotateX(180deg); }
        100% {
          -webkit-transform: scale(1) rotateX(360deg);
          -moz-transform: scale(1) rotateX(360deg);
          -ms-transform: scale(1) rotateX(360deg);
          -o-transform: scale(1) rotateX(360deg);
          transform: scale(1) rotateX(360deg);
          background: #313131;
          color: #3498db; } } }
    @media (min-width: 991px) {
      .enumeration-block .one-enumeration-block:hover .enumeration-title {
        -webkit-transition: .4s 0s !important;
        -moz-transition: .4s 0s !important;
        -ms-transition: .4s 0s !important;
        -o-transition: .4s 0s !important;
        transition: .4s 0s !important;
        color: #313131; } }
    .enumeration-block .one-enumeration-block:nth-child(1) .enumeration-icon-wrap, .enumeration-block .one-enumeration-block:nth-child(1) .enumeration-title, .enumeration-block .one-enumeration-block:nth-child(1) .enumeration-text {
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    .enumeration-block .one-enumeration-block:nth-child(2) .enumeration-icon-wrap, .enumeration-block .one-enumeration-block:nth-child(2) .enumeration-title, .enumeration-block .one-enumeration-block:nth-child(2) .enumeration-text {
      -webkit-transition: .4s .2s;
      -moz-transition: .4s .2s;
      -ms-transition: .4s .2s;
      -o-transition: .4s .2s;
      transition: .4s .2s; }
    .enumeration-block .one-enumeration-block:nth-child(3) .enumeration-icon-wrap, .enumeration-block .one-enumeration-block:nth-child(3) .enumeration-title, .enumeration-block .one-enumeration-block:nth-child(3) .enumeration-text {
      -webkit-transition: .4s .4s;
      -moz-transition: .4s .4s;
      -ms-transition: .4s .4s;
      -o-transition: .4s .4s;
      transition: .4s .4s; }
    .enumeration-block .one-enumeration-block:nth-child(4) .enumeration-icon-wrap, .enumeration-block .one-enumeration-block:nth-child(4) .enumeration-title, .enumeration-block .one-enumeration-block:nth-child(4) .enumeration-text {
      -webkit-transition: .4s .6s;
      -moz-transition: .4s .6s;
      -ms-transition: .4s .6s;
      -o-transition: .4s .6s;
      transition: .4s .6s; }
  .enumeration-block .enumeration-icon-wrap {
    background: #3498db;
    height: 110px;
    width: 110px;
    margin: 0 auto 1.35em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; }
  .enumeration-block .enumeration-title {
    font-weight: 900;
    color: #3498db;
    font-size: 1.5em;
    margin-bottom: 1.2em; }
    @media (max-width: 1229px) {
      .enumeration-block .enumeration-title {
        margin-bottom: .5em; } }
  .enumeration-block .enumeration-text {
    text-align: left;
    line-height: 1.72em;
    word-break: break-all;
    height: 10.32em;
    overflow: hidden; }
    @media (max-width: 1229px) {
      .enumeration-block .enumeration-text {
        line-height: 1.4em; } }
    @media (max-width: 991px) {
      .enumeration-block .enumeration-text {
        height: auto; } }

.news-block {
  background: #e5e5e5;
  padding: 90px 0; }
  @media (max-width: 991px) {
    .news-block {
      padding: 60px 0; } }
  @media (max-width: 768px) {
    .news-block {
      padding: 40px 0; } }
  .news-block .container {
    padding: 0; }
  .news-block .news-top {
    display: flex;
    color: #313131;
    margin-bottom: 54px; }
    @media (max-width: 991px) {
      .news-block .news-top {
        margin-bottom: 30px; } }
    @media (max-width: 500px) {
      .news-block .news-top {
        margin-bottom: 15px; } }
    .news-block .news-top > div {
      width: 50%;
      padding: 0 15px;
      position: relative; }
      .news-block .news-top > div img {
        width: 100%; }
    .news-block .news-top .news-top-left {
      padding: 8px 15px 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      @media (max-width: 991px) {
        .news-block .news-top .news-top-left {
          width: 100%;
          height: auto;
          display: block; } }
      @media (max-width: 768px) {
        .news-block .news-top .news-top-left {
          text-align: center; } }
      .news-block .news-top .news-top-left .big-p {
        padding-right: 16.66666%;
        line-height: 1.53em;
        word-break: break-all; }
        @media (max-width: 1229px) {
          .news-block .news-top .news-top-left .big-p {
            line-height: 1.2em;
            font-size: 16px; } }
        @media (max-width: 768px) {
          .news-block .news-top .news-top-left .big-p {
            padding-right: 0; } }
        @media (max-width: 600px) {
          .news-block .news-top .news-top-left .big-p {
            font-size: 14px; } }
      .news-block .news-top .news-top-left h2 {
        margin-top: .2em; }
        @media (max-width: 991px) {
          .news-block .news-top .news-top-left h2 {
            margin: .5em 0; } }
        @media (max-width: 500px) {
          .news-block .news-top .news-top-left h2 {
            font-size: 2em; } }
      @media (max-width: 991px) {
        .news-block .news-top .news-top-left .btn {
          margin-top: 2em; } }
      @media (max-width: 768px) {
        .news-block .news-top .news-top-left .btn {
          display: inline-block; } }
      @media (max-width: 400px) {
        .news-block .news-top .news-top-left .btn {
          width: 240px; } }
    .news-block .news-top [data-scroll="off"] .mac-book-bg-wrap .mac-book-bg {
      width: 0;
      height: 0; }
      @media (max-width: 991px) {
        .news-block .news-top [data-scroll="off"] .mac-book-bg-wrap .mac-book-bg {
          width: 100%;
          height: 100%; } }
    .news-block .news-top [data-scroll="on"] .mac-book-bg-wrap .mac-book-bg {
      width: 100%;
      height: 100%;
      animation: mac-bg 1s linear; }

@keyframes mac-bg {
  0% {
    width: 0;
    height: 0; }
  40% {
    width: 20px;
    height: 2px; }
  80% {
    height: 2px;
    width: 100%; }
  100% {
    width: 100%;
    height: 100%; } }
    @media (max-width: 991px) {
      .news-block .news-top .news-top-right {
        display: none; } }
    .news-block .news-top .mac-book-bg-wrap {
      position: absolute;
      background: #0a0a0a;
      top: 5.5%;
      bottom: 15%;
      right: 13.5%;
      left: 13.5%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .news-block .news-top .mac-book-bg-wrap .mac-book-bg {
        background: url("../img/logo_plarium.jpg") no-repeat center;
        background-size: 100%;
        width: 0;
        height: 0; }
  .news-block .news-bot {
    min-height: 20px;
    padding: 0 15px;
    display: flex;
    flex-direction: row; }
    @media (max-width: 768px) {
      .news-block .news-bot {
        flex-direction: column; } }
    .news-block .news-bot[data-scroll="off"] .one-news-bot {
      opacity: 0; }
      .news-block .news-bot[data-scroll="off"] .one-news-bot:nth-child(1) {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px); }
      .news-block .news-bot[data-scroll="off"] .one-news-bot:nth-child(2) {
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px); }
      .news-block .news-bot[data-scroll="off"] .one-news-bot:nth-child(3) {
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
        transform: translateX(50px); }
      @media (max-width: 991px) {
        .news-block .news-bot[data-scroll="off"] .one-news-bot {
          opacity: 1; }
          .news-block .news-bot[data-scroll="off"] .one-news-bot:nth-child(1) {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0); }
          .news-block .news-bot[data-scroll="off"] .one-news-bot:nth-child(2) {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0); }
          .news-block .news-bot[data-scroll="off"] .one-news-bot:nth-child(3) {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0); } }
    .news-block .news-bot[data-scroll="on"] .one-news-bot {
      opacity: 1;
      -webkit-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
      -moz-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
      -ms-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
      -o-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
      transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98); }
      .news-block .news-bot[data-scroll="on"] .one-news-bot:nth-child(1) {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      .news-block .news-bot[data-scroll="on"] .one-news-bot:nth-child(2) {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
      .news-block .news-bot[data-scroll="on"] .one-news-bot:nth-child(3) {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
    .news-block .news-bot .one-news-bot {
      width: 100%;
      background: #fff;
      height: 280px;
      text-align: center;
      padding-top: 2.7em;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative; }
      @media (max-width: 1229px) {
        .news-block .news-bot .one-news-bot {
          height: 245px;
          padding-top: 1.7em; } }
      @media (max-width: 991px) {
        .news-block .news-bot .one-news-bot {
          height: 200px; } }
      @media (max-width: 768px) {
        .news-block .news-bot .one-news-bot {
          height: auto; } }
      .news-block .news-bot .one-news-bot:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        background: #000; }
      .news-block .news-bot .one-news-bot:last-child {
        background: #000;
        color: #fff; }
        .news-block .news-bot .one-news-bot:last-child h3 {
          color: #fff; }
        .news-block .news-bot .one-news-bot:last-child:before {
          background: #fff; }
        .news-block .news-bot .one-news-bot:last-child:hover .min-title, .news-block .news-bot .one-news-bot:last-child:hover h3 {
          color: #000; }
        .news-block .news-bot .one-news-bot:last-child:hover:before {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); }
      .news-block .news-bot .one-news-bot:hover .min-title, .news-block .news-bot .one-news-bot:hover h3 {
        color: #fff; }
      .news-block .news-bot .one-news-bot:hover:before {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
    .news-block .news-bot .min-title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 11px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: relative;
      z-index: 5; }
    .news-block .news-bot h3 {
      color: #000;
      font-size: 2.285em;
      font-weight: 900;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: relative;
      z-index: 5; }
    .news-block .news-bot .one-news-img {
      padding: 20px 50px;
      position: relative;
      z-index: 5; }

.news-block-next {
  padding: 80px 0 90px;
  background: #eeeeee; }
  @media (max-width: 1229px) {
    .news-block-next {
      padding: 60px 0 60px; } }
  @media (max-width: 991px) {
    .news-block-next {
      padding: 60px 0 20px; } }
  @media (max-width: 500px) {
    .news-block-next {
      padding: 40px 0 5px; } }
  .news-block-next .container {
    display: flex;
    flex-direction: row;
    padding: 0; }
    @media (max-width: 991px) {
      .news-block-next .container {
        display: block; } }
  .news-block-next [data-scroll="off"] .one-news {
    opacity: 0; }
    .news-block-next [data-scroll="off"] .one-news:nth-child(1) {
      -webkit-transform: translateX(-50px);
      -moz-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      -o-transform: translateX(-50px);
      transform: translateX(-50px); }
    .news-block-next [data-scroll="off"] .one-news:nth-child(2) {
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
      transform: translateY(50px); }
    .news-block-next [data-scroll="off"] .one-news:nth-child(3) {
      -webkit-transform: translateX(50px);
      -moz-transform: translateX(50px);
      -ms-transform: translateX(50px);
      -o-transform: translateX(50px);
      transform: translateX(50px); }
    @media (max-width: 991px) {
      .news-block-next [data-scroll="off"] .one-news {
        opacity: 1; }
        .news-block-next [data-scroll="off"] .one-news:nth-child(1) {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); }
        .news-block-next [data-scroll="off"] .one-news:nth-child(2) {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); }
        .news-block-next [data-scroll="off"] .one-news:nth-child(3) {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); } }
  .news-block-next [data-scroll="on"] .one-news {
    opacity: 1;
    -webkit-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
    -moz-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
    -ms-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
    -o-transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98);
    transition: 0.6s cubic-bezier(0.48, 0.93, 0.52, 0.98); }
    .news-block-next [data-scroll="on"] .one-news:nth-child(1) {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .news-block-next [data-scroll="on"] .one-news:nth-child(2) {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    .news-block-next [data-scroll="on"] .one-news:nth-child(3) {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .news-block-next .one-news {
    padding: 0 15px;
    width: 100%; }
    @media (max-width: 991px) {
      .news-block-next .one-news {
        margin-bottom: 40px; } }
    .news-block-next .one-news:hover .one-news-title:before {
      width: 100%;
      background: #313131; }
    .news-block-next .one-news:hover .news-img img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
  .news-block-next .one-news-title {
    font-weight: 900;
    font-size: 1.285em;
    color: #313131;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 25px; }
    @media (max-width: 991px) {
      .news-block-next .one-news-title {
        margin-bottom: 15px; } }
    .news-block-next .one-news-title:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 5px;
      width: 70px;
      background: #fff;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .news-block-next .one-news-title .news-name {
      margin-right: 25px; }
    .news-block-next .one-news-title .news-rubric {
      font-size: 12px;
      font-weight: bold;
      padding-left: 10px;
      position: relative; }
      .news-block-next .one-news-title .news-rubric:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #fff; }
  .news-block-next .news-img {
    position: relative;
    height: 140px;
    overflow: hidden; }
    @media (max-width: 1229px) {
      .news-block-next .news-img {
        height: 111px; } }
    @media (max-width: 991px) {
      .news-block-next .news-img {
        height: auto; } }
    .news-block-next .news-img img {
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      width: 100%; }
    .news-block-next .news-img .news-date {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "helvetica", "Lato";
      font-size: 12px;
      padding: 6px 20px;
      background: rgba(140, 140, 140, 0.9); }
      @media (max-width: 1229px) {
        .news-block-next .news-img .news-date {
          padding: 3px 10px; } }
  .news-block-next .news-text {
    background: #fff;
    word-break: break-all;
    padding: 25px 20px 0;
    height: 160px;
    overflow: hidden; }
    @media (max-width: 1229px) {
      .news-block-next .news-text {
        font-size: 13px;
        padding: 15px 15px 0; } }
    @media (max-width: 991px) {
      .news-block-next .news-text {
        height: auto;
        font-size: 15px;
        padding-bottom: 15px; } }
    .news-block-next .news-text .text-title {
      font-weight: 900;
      color: #3498db;
      font-size: 1.285em;
      margin-bottom: 10px; }
    .news-block-next .news-text p {
      line-height: 1.6em; }
